div ICT, last year, doing the internship, "self-hosted enthusiastic".

a(href="mailto:kiennguyen19323@gmail.com") kiennguyen19323@gmail.com

h1 Working on

table
	tr
		td 2024
		:repo Delnegend/social-2-telego
		:tech Go, Telegram Bot API
		td Scrape tweets from formerly Twitter, repost to Telegram. This is a rewrite of [social-2-telegram](https://github.com/Delnegend/social-2-telegram) in Go.
	tr
		td 2024
		:repo Delnegend/towd
		:tech Go, Nuxt, TailwindCSS, shadcn-vue, Discord Bot, iCalendar format
		td [github-readme-stats](https://github.com/anuraghazra/github-readme-stats) but with Go.
	tr
		td 2023
		:repo Liminova/yomuyume
		:tech Rust (axum), Nuxt, TailwindCSS, Material Design 3
		td [Komga](https://komga.org/) was an option, but it was slow.
	tr
		td 2023
		:repo gallery-preprocessor-py
		:tech Python
		td Dependency-free, tightly compacted gallery pre-processor for Yomuyume.

h1 Archived

table
	tr
		td 2023
		:repo Liminova/MobDevProj-Covid
		:tech Kotlin, Jetpack Compose, Material Design 3
		td Covid-19 Statistic App. Since at this time, there is no free+good+reliable API, [I built my own](https://github.com/Liminova/covid-api). Weekly update [from WHO](https://covid19.who.int/WHO-COVID-19-global-data.csv)
	tr
		td 2023
		:repo Delnegend/social-2-telegram
		:tech Python, Selenium (web scraping), Telegram Bot API
		td Scrape tweets from formerly Twitter, repost to Telegram.
	tr
		td 2023
		:repo Liminova/human-resource-manager
		:tech Python, Tkinter
		td A project for our Advanced Python course.
	tr
		td 2023
		:repo Delnegend/food-ordering-app
		:tech React, TailwindCSS
		td The client for a food ordering app I made for the USTH Coding Club that was never completed. The client was kind of, but I had never seen the server API documentation.
	tr
		td 2020 2021
		:repo Delnegend/khplayer
		:tech HTML, CSS, jQuery
		td Bootstrapping a [Plyr.io](https://github.com/sampotts/plyr) player with just a few lines of HTML. This was done back when I started exercising web development.


h1 Tiny things

table
	tr
		td 2023
		:repo Delnegend/scripts
		:tech Python
		td A bunch of small python scripts.
	tr
		td 2023
		:repo Delnegend/dracoder
		:tech Rust
		td Drag and drop video/image to an executable to transcode (using [ffmpeg](https://ffmpeg.org/)), the target format based on the executable file name.
	tr
		td 2023
		:repo Delnegend/cemail-i
		:tech Rust
		td Simple command line interface email client, when I was getting familiar with Rust.
	tr
		td 2023
		:repo Delnegend/blurhash-cli
		:tech Rust
		td Handy dandy CLI tool to encode images to [blurha.sh](https://blurha.sh).
	tr
		td 2023
		:repo Delnegend/ffmpeg-progressbar
		:tech Go
		td Ffmpeg wrapper with progress bar.
	tr
		td 2023
		:repo Delnegend/gallery-preprocessor-go
		:tech Go
		td The same as the gallery preprocessor above, but in Go.
	tr
		td 2023
		:repo Delnegend/fshare-cli
		:tech Python
		td Fshare CLI client.
	tr
		td 2023
		:repo Delnegend/embed-video
		:tech JS
		td Wrapping direct video URL to [Plyr.io](https://github.com/sampotts/plyr) for embedding to Notion.
	tr
		td 2023
		:repo Delnegend/cctv-splitter
		:tech Python, [tesseract](github.com/tesseract-ocr/tesseract)
		td Made an oopsy daisy in a script that merges 1-minute segment files to 1-day files from my security camera. Delayed for too long, the messed up footage was discarded for newer ones. Never had a chance to finish the project.
	tr
		td 2022
		:repo Delnegend/8MB
		:tech Go
		td Re-encode video to fit 8MB Discord file size limit for non-Nitro users. Don&apos;t use the method in this repo.
	tr
		td 2021
		:repo Delnegend/calendar-filtering
		:tech JS, iCalendar
		td Our university gave us one big-ass Google Calendar feed, this was an attempt to split it into classes.
	tr
		td 2020
		:repo Delnegend/Delnegend-rEFInd
		td -
		td Custom rEFInd theme back when I was dual-boot Windows-Linux or Windows-Hackintosh.


div(align="right")
	img(src="./sticker.webp", width="100px")